<h4>Post a Comment</h4>

<%= form_for @comment do |f| %>

  <%= f.hidden_field :job_id, :value => @job.id %>
    <%= f.label :comment %><br/>
    <%= f.text_area :content %><br>
    <%= f.submit 'Submit' %>
<% end %>
