<div class="jumbotron">
  <h2 align="center">All Companies</h2><br>
</div>

<% @companies.each do |company| %>
<ul class=company_<%= company.id %>>
  <strong><u> <%= link_to company.name, company_path(company) %></strong> - <%= company.city %></u><br>
  <%= link_to "Edit #{company.name}", edit_company_path(company) %><br>
  <%= link_to "Delete #{company.name}", company_path(company), method: "delete" %>
</ul>
<% end %>

<hr>
<ul>
  <%= link_to "Add a New Company!", new_company_path %>
</ul>
