<div class="jumbotron">
  <h2 align="center">All Categories:</h3>
  </div>

  <% @categories.each do |category| %>
  <ul class=category_<%= category.id %>>
    <strong><u><%= link_to category.title, category_path(category) %></strong></u><br>
    <%= link_to "Edit #{category.title}", edit_category_path(category) %><br>
    <%= link_to "Delete", category_path(category), method: :delete %></ul>
  </ul>
  <% end %>

  <hr>
  <ul>
    <%= link_to "Add a New Category!", new_category_path %>
  </ul>
